<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/Style.css" />
    </head>
    <body>      
        <div class="navbar pc">
            <div id="empty"></div>
            <div class="navbar-title pc">
                Very Vilnius Apartments
            </div>
            <div id="empty2"></div>
            <div class="navbar-link animation-hover pc">
                <a class="btn pc" href="/index.html">Home</a>
            </div>

            <div class="Dropdown animation-hover pc">
                <a class="btn pc" href="/Gatves/Pilies/pilies.html">Pilies</a>
                <div class="Dropdown-content pc">   
                    <a href="/Gatves/Pilies/pilies-explore.html">Explore</a>
                    <a href="/Gatves/Pilies/pilies-amenities.html">Amenities</a>
                    <!-- <a href="/Gatves/Pilies/Directions/pilies-directions-en.html">Directions</a> -->
                </div>
            </div>

            <div class="Dropdown animation-hover">
                <a class="btn pc" href="/Gatves/stikliu/stikliu.html">Stikliu</a>
                <div class="Dropdown-content pc">   
                    <!-- <a href="/Gatves/Stikliu/stikliu-explore.html">Explore</a> -->
                    <a href="/Gatves/Stikliu/stikliu-amenities.html">Amenities</a>
                    <!-- <a href="/Gatves/Stikliu/Directions/stikliu-directions-en.html">Directions</a> -->
                </div>
            </div>

            <div class="Dropdown animation-hover">
                <a class="btn pc" href="/Gatves/Vilniaus/vilniaus.html">Vilniaus</a>
                <div class="Dropdown-content pc">   
                    <a href="/Gatves/Vilniaus/vilniaus-explore.html">Explore</a>
                    <a href="/Gatves/Vilniaus/vilniaus-amenities.html">Amenities</a>
                </div>
            </div>

            <div class="navbar-link animation-hover pc">
                <a class="btn pc" href="/info.html">Info</a>
            </div>
        </div>
    </body>
</html>