<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/Style.css" />
    </head>
    <body>
        <div class="navbar phone">
            <div class="navbar-title phone">
                Very Vilnius <br/> 
                Apartments
            </div>
            <div class="navbar-link phone">
                <a class="btn phone" href="/index.html">Home</a>
            </div>

            <div class="Dropdown phone">
                <button class="btn phone" onclick="ToggleOptions('Pil', this)">Pilies &#708</button>
                <div class="Dropdown-content phone" id="Pil">   
                    <a href="/Gatves/Pilies/pilies.html">Pilies</a>
                    <a href="/Gatves/Pilies/pilies-explore.html">Explore</a>
                    <a href="/Gatves/Pilies/pilies-amenities.html">Amenities</a>
                    <!-- <a href="/Gatves/Pilies/Directions/pilies-directions-en.html">Directions</a> -->
                </div>
            </div>

            <div class="Dropdown phone">
                <button class="btn phone" onclick="ToggleOptions('Stk', this)">Stiklių &#708</button>
                <div class="Dropdown-content phone" id="Stk">   
                    <a href="/Gatves/Stikliu/stikliu.html">Stiklių</a>
                    <!-- <a href="/Gatves/Stikliu/stikliu-explore.html">Explore</a>-->
                    <a href="/Gatves/Stikliu/stikliu-amenities.html">Amenities</a>
                    <!-- <a href="/Gatves/Stikliu/Directions/stikliu-directions-en.html">Directions</a> -->
                </div>
            </div>

            <div class="Dropdown phone">
                <button class="btn phone" onclick="ToggleOptions('Vln', this)">Vilniaus &#708</button>
                <div class="Dropdown-content phone" id="Vln">   
                    <a href="/Gatves/Vilniaus/vilniaus.html">Vilniaus</a>
                    <a href="/Gatves/Vilniaus/vilniaus-explore.html">Explore</a>
                    <a href="/Gatves/Vilniaus/vilniaus-amenities.html">Amenities</a>
                </div>
            </div>

            <div class="navbar-link phone">
                <a class="btn phone" href="/info.html">Info</a>
            </div>
        </div>
    </body>
</html>